.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#head{
  background-color:black;
  width:100%;
  color:white;
  height:70px;

}

img{
  border-radius: 20px;
}
.movie-desc{
  max-width:500px;
  margin:0 auto;
}
.center{
  max-width:200px;
}
.table{
  width:80vw;
  margin:0 auto;
}
input{
  margin-top:20px;
  width:300px;
  font-size:30px;
  text-align:center;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid red;
}
.fa-icon{
margin:15px;
  transition: 2s;

}
#an1{
  margin:0;
  padding:0;
  position: relative;
  left: -1000px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}
#an2{
  margin:0;
  padding:0;
  position: relative;
  left: 1000px;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 1s;
  animation: slide 0.5s forwards;
  animation-delay: 1s;
}
span{
  display:flex;
  justify-content:center;

}
.wrapper{
  display:flex;
  justify-content:center;
}


@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}